<h1>Donate $$ a Charity of your Choice!</h1>

<mat-card>
  <mat-card-title>This is for a charity</mat-card-title>
  <mat-card-subtitle>Description of the charity</mat-card-subtitle>
  <button> Learn more and Donate </button>
</mat-card>

<mat-card>
  <mat-card-title>This is for a charity</mat-card-title>
  <mat-card-subtitle>Description of the charity</mat-card-subtitle>
  <button> Learn more and Donate </button>
</mat-card>

<mat-card>
  <mat-card-title>This is for a charity</mat-card-title>
  <mat-card-subtitle>Description of the charity</mat-card-subtitle>
  <button> Learn more and Donate </button>
</mat-card>

<mat-card>
  <mat-card-title>This is for a charity</mat-card-title>
  <mat-card-subtitle>Description of the charity</mat-card-subtitle>
  <button> Learn more and Donate </button>
</mat-card>

<mat-card>
  <mat-card-title>This is for a charity</mat-card-title>
  <mat-card-subtitle>Description of the charity</mat-card-subtitle>
  <button> Learn more and Donate </button>
</mat-card>

