.padding{
  margin: 10px;
}
.app-toolbar {
  position: sticky;
  position: -webkit-sticky; /* For macOS/iOS Safari */
  top: 0; /* Sets the sticky toolbar to be on top */
  z-index: 1000; /* Ensure that your app's content doesn't overlap the toolbar */
}
#title{
  text-align: center;
  margin-top: 15%;
}

.searchArea {
  overflow-y: scroll;
  height: 80%;
  width: 100%;
}
