.padding{
  margin: 6px;
}

.spacer {
  flex: 1 1 auto;
}

.smallspacer {
  margin-right: 16px;
}

.price {
  color: darkred;
}

.donated {
  color: darkgray;
  margin-right: 16px;
  font-style: italic;

  .price {
    color: #4caf50;
  }
}


