.example-additional-selection {
  opacity: 0.75;
  font-size: 0.75em;
}
.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  margin-left: 35.5%;
  margin-right: auto;
  margin-top: 5%;
}

.example-full-width {
  width: 100%;
}

.thumbnail{
  width: 100px;
  height: 100px;
}
.rowItem{
  height: 100px;
  width: auto;
}

.input {
  width: 90%;
}
.spacer {
  flex: 1 1 auto;
}

.smallspacer {
  width: 16px;
}

.price {
  color: darkred;
}

